<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<script type="text/javascript" src="./js/vue.js"></script>
<body>
	<div id="app">
		{{ message }}
		<span v-bind:title="message">
		  鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>

		<p v-if="seen">现在你看到我了</p>


		<ol>
		    <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		</ol>
	</div>
</body>
</html>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue!',
			seen: true,
		    todos: [
		      { text: '学习 JavaScript' },
		      { text: '学习 Vue' },
		      { text: '整个牛项目' }
		    ]
		}
	});
</script>